annotated-types==0.8.0
argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
idna==3.19
kafka-python==3.0.11
minio==7.2.20
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.13.5
pydantic-core==2.46.5
pyrate-limiter==4.5.0
python-dotenv==1.2.3
requests==2.34.2
sec-edgar-downloader==5.1.0
typing-extensions==4.16.0
typing-inspection==0.4.4
urllib3==2.7.0
